
<div style="float: left">
  <br />
  <h6>&nbsp;Choose playlist</h6>
  <ul class="playlists">
    <li *ngFor="let playList of playListsHolder?.playLists"
      (focus)="this.activatePlayList(playList.nr)"
      (click)="this.activatePlayList(playList.nr)">
      <span class="badge"><span class="tekst">{{playList.nr}}</span></span>
      <span class="tekst">{{playList.name}}</span>
      <span *ngIf="playList.isActive" class="tekst"> &#x2192;</span>
    </li>
  </ul>

  <br />
  <br />
  <br />
  <br />
  <br />
  <button class="btn-sm w-75" style="position: relative; left: 15px;"><a style="text-decoration: none; color: black" routerLink="/playlisteditor" routerLinkActive="active">Modify playlists</a></button>
  <br />
  <button class="btn-sm w-75" style="position: relative; left: 15px;"><a style="text-decoration: none; color: black" routerLink="/textListener" routerLinkActive="active">Textlistener mode</a></button>
  <br />
  <button class="btn-sm w-75" style="position: relative; left: 15px;"><a style="text-decoration: none; color: black" routerLink="/findMp3" routerLinkActive="active">Find MP3</a></button>
  <br />
  <br />
  <!--<button class="btn btn-primary w-100 btn-block"><a style="text-decoration: none; color: black" routerLink="/audioPlayer" routerLinkActive="active">Audioplayer</a></button>-->
  <div style="font-size: 12px; position: relative; left: 10px"><br/><br/>(IP-address: {{this.ipAddress}})</div>

</div>

<div style="float: left">
  <br />
  <h6>Songs</h6>
  <ul class="songs">
    <div class="warn" *ngIf="this.activePlayList === undefined">&#x2190; Choose a playlist</div>
    <li *ngFor="let playListItem of this.activePlayList?.playListItems"
        tabindex="-1"
        id="PLAY_LIST_ITEM_{{playListItem.nr}}"
        (keydown)="this.handleKeyboardEvent($event, playListItem.nr)">
      <span (click)="this.activatePlayListItem(playListItem.nr)">

        <span class="badge"><span class="tekst">{{playListItem.nr}}</span></span>
        <span *ngIf="playListItem?.hasFocus">&#9658;</span>
        <span class="tekst">{{playListItem.name}}</span>
        <span *ngIf="playListItem?.isActive && !playListItem?.isPlaying"class="tekst"> &#x2705; </span>
        <span *ngIf="playListItem?.isPlaying"class="tekst"> &#x231B; </span>
      </span>
      <span *ngIf="hasMp3(playListItem)"><button style="height:20px; position: absolute; left: 290px; top: 4px; width: 20px; background-color: #BBD8DC" (click)="playMp3(playListItem)"> <span style="position: relative; left: -5px; top: -5px">&#9835;</span> </button></span>
    </li>
  </ul>

</div>

<div style="float: left">
    <span style="position: relative; top: 3px; left: -90px" class="cke_toolgroup" role="presentation">
        <a class="cke_button cke_button__save cke_button_off" style="position: relative; top: -4px;" (click)="onSave($event)" title="Save" tabindex="-1"
           hidefocus="true" role="button" aria-haspopup="false">
          <span class="cke_button_icon cke_button__save_icon"
                style="background-image:url('https://cdn.ckeditor.com/4.5.11/full-all/plugins/icons_hidpi.png?t=G87E');
               background-position:0 -1800px;background-size:16px;">&nbsp;
          </span>
          <span class="cke_button_label cke_button__save_label" aria-hidden="false">
              Save
          </span>
        </a>
    </span>
    <span style="width: 50px; height: 20px; position: relative; top: 3px; left: -99px; " class="cke_toolgroup">
      <span style="position: relative; top: -3px; left: 4px; ">{{this.savedMessage}}</span>
    </span>
</div>

<!--<div *ngIf="this.activePlayListItem !== undefined" style="float: left">-->
<div style="float: left">

    <ckeditor
      style="position: relative; top: -22px"
        [(ngModel)]="content"
        [config]="config"
        [readonly]="false"
        debounce="500">
    </ckeditor>

</div>
