.playlists {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 13em;
}
.playlists li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.playlists li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.playlists li.selected {
  background-color: #CFD8DC;
  color: white;
}
.playlists li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.playlists .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.4em 0 0.4em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.tekst {
  position: relative;
  top: -6px;
}

.songs {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 16em;
}
.songs li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .2em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.songs li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.songs li.selected {
  background-color: #CFD8DC;
  color: white;
}
.songs li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.songs .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.4em 0 0.4em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.songs .warn {
  display: inline-block;
  font-size: normal;
  color: white;
  padding: 0.9em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -20px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

:focus {
  outline: lightgreen solid 2px;
}
