.process-step {
  background-size: auto 35px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-clip: revert;
  height: 40px;
  padding-right: 60px;
  padding-bottom: 43px;
  font-size: 21px;
  text-align: right;
  margin-right: 0px;
}

.hover_hand {
  cursor: pointer;
}
